# {version}

```python
http_archive = use_repo_rule("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

http_archive(
    name = "rules_powershell",
    integrity = "sha256-{sha256_base64}",
    urls = ["https://github.com/periareon/rules_powershell/releases/download/{version}/rules_powershell-{version}.tar.gz"],
)
```

Additional documentation can be found at: https://github.com/periareon/rules_powershell
